{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <style>

        div.img {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.img:hover {
            border: 1px solid #777;
        }

        div.img img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        $(function() {
            $('.tf_keyword')
                .focus(function() {
                    $('.box_search').addClass('box_search_on');
                })
                .blur(function() {
                    $('.box_search').removeClass('box_search_on');
                });
        });
    </script>
</head>
<body>
<form>
	<div class="box_search">
		<input type="text" class="tf_keyword" title="검색어 입력" />
		<button type="submit" class="btn_search"></button>
	</div>
</form>

<div class="img">
  <a target="_blank" href="fjords.jpg">
    <img src="http://vignette3.wikia.nocookie.net/konosuba/images/4/4f/LN_Megumin.png/revision/latest?cb=20160331040602" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="forest.jpg">
    <img src="https://images8.alphacoders.com/681/681953.png" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="lights.jpg">
    <img src="https://megumin.love/images/bg.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="mountains.jpg">
    <img src="https://megumin.love/images/bg.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>