{% extends 'portfolio/base.html' %}


{% block content %}

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{% static 'img/megumin1.jpg' %}" alt="">
            </a>
            <h3>
                <a href="#">Project Title</a>
                <hr>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{% static 'img/megumin2.png' %}" alt="">
            </a>
            <h3>
                <a href="#">Project Title</a>
                <hr>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{% static 'img/megumin3.png' %}" alt="">
            </a>
            <h3>
                <a href="#">Project Title</a>
                <hr>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{% static 'img/megumin1.jpg' %}" alt="">
            </a>
            <h3>
                <a href="#">Project Title</a>
                <hr>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
    </div>


    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{% static 'img/megumin2.png' %}" alt="">
            </a>
            <h3>
                <a href="#">Project Title</a>
                <hr>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{% static 'img/megumin3.png' %}" alt="">
            </a>
            <h3>
                <a href="#">Project Title</a>
                <hr>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
    </div>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}
